<div class="footer">
    <div>
        <h4>© 2021 Copyright - Todos Los Derechos Reservados</h4>
    </div>
    <div>
        <p><b>Mis Redes Sociales</b></p>
        <div class="redes">
            <a href="https://github.com/Dancrof" target="blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/QuelaQuePapa"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/Dancrof" target="blank"><i class="fab fa-twitter"></i></a>
            <i class="fab fa-instagram"></i>
            <a href="https://t.me/ElProgram" target="blank"><i class="fab fa-telegram-plane"></i></a>
        </div>
    </div>
</div>