<div class="container_grid">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="catalogue_content">
            <!--details-->
            <div class="details_content">
                <div class="catalogue_img">

                    <img src="https://es.web.img3.acsta.net/medias/nmedia/18/67/78/13/20066706.jpg" alt="Boku-no-Hero-Academia-the-Movie-Futari-no-Hero" />
                </div>
                <div class="catalogue_sinopsis">
                    <h2 class="titulo">Boku no Hero Academia the Movie: Futari no Hero</h2>
                    <h5 class="Titulo-sinopsis">Sinopsis</h5>
                    <p class="texto-sinopsis">
                        En el extranjero existe una ciudad gigante, flotante, creada por el hombre: I Island. La película tendrá lugar tras el arco del examen final, en verano, pero antes del arco de entrenamiento del bosque. Asimismo, se revelará más información del pasado
                        de All Might.
                    </p>
                    <div class="texto-detalles">
                        <p>
                            <b>Actores :</b> Daiki Yamashita, Kenta Miyake, Nobuhiko Okamoto, Ayane Sakura, Kaito Ishikawa, Yūki Kaji, Marina Inoue, Toshiki Masuda, Ryō Hirohashi, Kei Shindō, Tasuku Hatanaka, Katsuhisa Namase, Ryōhei Kimura, Mirai Shida,
                            Rikiya Koyama
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Director :</b> Kenji Nagasaki
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Escritor :</b> Yōsuke Kuroda
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Pais :</b> Japan
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Fecha de Estreno :</b> 3 de Agosto 2018
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Genero :</b> Accion, Comedia, Escolar, Shounen, Superpoderes
                        </p>
                    </div>
                    <div class="texto-detalles2">
                        <p>
                            <b>Idioma :</b> Sub-Español
                        </p>
                    </div>
                </div>
                <div class="player">
                    <h2>reproductor</h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>