.container_grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5rem;
    background: #222831;
}

.container {
    min-height: 100vh;
    width: 100%;
    grid-row: span 1;
}

.container .footer {
    grid-column: 1 / 2;
}

.home_content {
    height: 100%;
    width: 100%;
    min-width: 302px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    padding: 0 0rem 0 4.9rem;
}

.home_content .card_principal {
    background-image: url(../../../../assets/img/home/cover.gif);
    background-size: 100% 262px;
    background-repeat: no-repeat;
    background-color: rgb(54, 52, 52);
    background-blend-mode: soft-light;
    width: 100%;
    min-height: 200px;
    grid-column: 1/7;
    border-radius: 5px;
}

.card_principal .card_text {
    display: block;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.card_principal .card_text p {
    color: #fff;
    font-size: 1.5rem;
}

.card_principal .card_text p span {
    color: red;
    font-size: 2rem;
}

.home_content .card_list {
    max-width: 140px;
    min-height: 320px;
    border-radius: 8px;
    text-align: center;
    justify-self: center;
}

.home_content .card_list img {
    width: 100%;
    height: 228px;
    border-radius: 8px;
}

.home_content .card_list h4 {
    font-weight: 600;
    color: #fff;
}

.home_content .card_list a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 0.8rem;
    background: #EF4F4F;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width:1050px) {
    .home_content {
        grid-template-columns: repeat(5, 1fr);
    }
    .home_content .card_principal {
        grid-column: 1/6;
    }
}

@media (max-width:954px) {
    .home_content {
        grid-template-columns: repeat(4, 1fr);
    }
    .home_content .card_principal {
        grid-column: 1/5;
    }
}

@media (max-width:745px) {
    .home_content {
        grid-template-columns: repeat(3, 1fr);
    }
    .home_content .card_principal {
        grid-column: 1/4;
    }
}

@media (max-width:570px) {
    .home_content {
        grid-template-columns: repeat(2, 1fr);
    }
    .home_content .card_principal {
        grid-column: 1/3;
    }
}

@media (max-width:394px) {
    .home_content {
        grid-template-columns: repeat(1, 1fr);
    }
    .home_content .card_principal {
        grid-column: 1/2;
    }
    .card_principal .card_text p {
        color: #fff;
        font-size: 1.5rem;
    }
}