<div class="container">
    <div class="forms-container">
        <div class="singin-singup">
            <!--Form Sing In-->
            <form [formGroup]="ResetPass" (ngSubmit)="passReset(ResetPass.value)" class="sing-in-form">

                <div class="content_title">
                    <h2 class="title">Recuperar contaseña</h2>
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>

                <button type="submit" class="btn solid">enviar email</button>

            </form>      

        </div>
    </div>
    <!----------------panel Text---------------------->
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>¿Has olvidado tu contraseña?</h3>
                <p>Recupera de forma rapida y sencilla tu contraseña para que sigas disfrutando de peliculas.</p>
                <button class="btn transparent" id="sing-up-btn" routerLink="/auth">inicia sesión</button>
            </div>

            <img src="../../../../assets/img/auth/resetpass.svg" class="image" alt="">
        </div>
    </div>
</div>