<div class="container">
    <div class="forms-container">
        <div class="singin-singup">
            <!--Form Sing In-->
            <form [formGroup]="Login" (ngSubmit)="SingIn(Login.value)" class="sing-in-form">

                <div class="content_title">
                    <i class='bx bx-movie-play'></i>
                    <h2 class="title">Movienopolis</h2>
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>

                <button type="submit" class="btn solid">Login</button>

                <p class="social-text">Iniciar sesión con plataformas sociales</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </form>

            <!--Form Sing Up-->
            <form [formGroup]="Register" (ngSubmit)="SingUp(Register.value)" class="sing-up-form">

                <h2 class="title">Sing Up</h2>

                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" formControlName="username">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <button type="submit" class="btn solid">Sing Up</button>

                <p class="social-text">Registrate con plataformas sociales</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </form>

        </div>
    </div>
    <!----------------panel Text---------------------->
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>! Hola, nuevo aqui?</h3>
                <p>No te pierdas la oportunidad de ver peliculas totalmete gratis con tus amigos.</p>
                <button class="btn transparent" id="sing-up-btn" (click)="modeSingUp()">Sing Up</button>
            </div>

            <img src="../../../../assets/img/auth/sing-in.svg" class="image" alt="">
        </div>

        <div class="panel rigth-panel">
            <div class="content">
                <h3>¿Ya tienes una cuenta?</h3>
                <p>Si ya eres parte de la plataforma, inicia sesión para seguir viendo las peliculas que mas te gustan.</p>
                <button class="btn transparent" id="sing-in-btn" (click)="modeSingIn()">Sing In</button>
            </div>

            <img src="../../../../assets/img/auth/sing-up.svg" class="image" alt="">
        </div>
    </div>
</div>